<component name="ArtifactManager">
  <artifact type="war" name="SpringCrm:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringCrm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringCrm-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringCrm:war exploded" />
    </root>
  </artifact>
</component>